.expertise-section {
    color: white;
    background-color: #000; 
    text-align: center;
    padding: 40px 20px;
    margin-top: 100px;
    
    h2{
      margin-bottom: 80px;
      font-size: 50px; 
    }
    
    .cards-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
    }

    @media(min-width: 1595px){
      .expertise-section {
        width: 100%;
      }
      .cards-container{
        width: 900px;
        margin: 0 auto;
      }
    }

    
    .cards {
      background-color: #fff; 
      color: #000; 
      border-radius: 18px;
      padding: 60px 60px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
      text-align: center;
      transition: transform 0.2s; 
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      width: 254px;
      height: 150px;
      font-weight: bold;
      &:hover {
        transform: translateY(-5px); 
      }
    }

    .cards:first-child{
      transform: rotate(356deg);
    }
    .cards:last-child{
      transform: rotate(3deg);
    }
    .cards:nth-child(2){
      transform: rotate(358deg);
    }
    .cards:nth-child(3){
      transform: rotate(4deg);
    }
    .cards:nth-child(4){
      transform: rotate(357deg);
    }
    .cards:nth-child(5){
      transform: rotate(4deg);
    }
  }